<config>
  <!-- Folding Slot Configuration -->
  <gpu v='false'/>

  <!-- Slot Control -->
  <power v='light'/>

  <user v='{{ user }}'/>

  <team v='{{ team }}'/>

  <passkey v='{{ passkey }}'/>

  <!-- Folding Slots -->
  <slot id='0' type='CPU'/>
  <slot id='1' type='CPU'/>
  <slot id='2' type='CPU'/>
  <slot id='3' type='CPU'/>


  <!-- Grant remote web access to the following IP -->
  <allow>0/0:7396</allow>
  <web-allow>0/0:7396</web-allow>

</config>
